[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
beautifulsoup4 = "*"
jupyter = "*"
requests = "*"
speechrecognition = "*"
jupyterlab = "*"
pip = "*"
setuptools = "*"
wheel = "*"
pocketsphinx = "*"
pandas = "*"

[requires]
python_version = "3.6"
