$color-even: rgba(206, 209, 206, 0.342);
$color-odd: rgba(100, 105, 100, 0.342);
$color-even-darker: adjust-color($color-even, $alpha: 0.4);
$color-odd-darker: adjust-color($color-odd, $alpha: 0.4);


body {
    font-family: 'Didact Gothic', 'Lucida Grande', Tahoma, Sans-Serif;
    font-size: 19px;
    line-height: 1.3em;
}

.file-load {

}

#full-audio {
    width: 100%;
}

.segment-list {
    margin: 3em;
}

.segment {
    display: flex;
    margin-top: 1em;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 2px black solid;
    
    &:nth-child(odd) {
        background-color: $color-odd;
    }

    &:nth-child(even) {
        background-color: $color-even;
    }
}

.seg-header {
    flex: 0 0 20%;
    border-right: dashed black 2px;
    
    .seg-id {
        font-size: 1.1em;
        font-weight: bold;
    }

    .seg-time {
        font-style: italic;
        font-size: 0.9em;
    }

    .seg-speaker {
        font-size: 0.9em;
    }
}

.seg-body {
    padding-left: 1em;
    flex: 1;
}

.word-break {
    display: inline-block;
    width: 0.5em;
}

.word {    
    cursor: pointer;
    border-radius: 0.2em;
    display: inline-block;
    padding: 0 0.2em 0 0.2em;
    margin: 0.2em;
}